auth/
crawler_associated_files/twitter_crawler/auth/
data/
flask_app/ml_models/*
.ipynb_checkpoints/*
.Rhistory
.idea/*
agds/
dist/
dump/
.Rproj.user
jupyter_notebooks/binary_classification/binary_classification/sklearn_fastapi/*
*.pickle
instagram_analysis/insta_venv/
instagram_analysis/instagram_cleared/
jupyter_notebooks/data_mining/sequence_files/*
tweets*.csv
*/*.csv
*/*.jar
*/*.zip
