<!DOCTYPE html>
<html lang="pl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Asocjacja treści - tekst a influencer</title>
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Praca magisterska - kojarzenie tekstu</a>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <form action="/associate" method="POST">
              <button class="btn btn-link" name="input_text" type="submit" value="{{ input_text }}">AGDS</button>
            </form>
          </li>
          <li class="nav-item">
            <form action="/nn_associate" method="POST">
              <button class="btn btn-link" name="input_text" type="submit" value="{{ input_text }}">Sieci Neuronowe</button>
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Porównanie
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Powrót do strony głównej</a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Tekst źródłowy</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-primary">Eksportuj wyniki</button>
          </div>
        </div>

      </div>
      <p>{{ input_text }}</p>
      <br>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Najlepiej dopasowani influencerzy</h2>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Nazwa konta influencera na portalu Instagram</th>
              <th>Współczynnik podobieństwa (im mniejszy tym większe podobieństwo)</th>
            </tr>
          </thead>
          <tbody>
            <!-- Generate table with association results -->
            {% for k, v in most_similar_list.iteritems() %}
            <tr>
              <td>{{ k }}</td>
              <td>{{ v }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Skojarzenia tekstu z cechami</h2>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Cecha charakteru/archetyp</th>
              <th>Wartość wagi</th>
            </tr>
          </thead>
          <tbody>
            <!-- Generate table with association results -->
            {% for k, v in traits.items() %}
            <tr>
              <td>{{ k }}</td>
              <td>{{ v }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

<!-- Bootstrap script import -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>